ENVIRONMENT=development
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=rytm_db
DB_PORT=3306

MAX_LOGIN_ATTEMPTS=5
BLOCK_DURATION=300
ADMIN_EMAIL=main.pavalvla@gmail.com

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=business.footandboot@gmail.com
MAIL_PASSWORD=sjzhfbykxjeonezd